# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.ruff_cache/
.coverage
coverage.xml

# Node
frontend/node_modules/
frontend/dist/
frontend/.vercel/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea/
.vscode/

# Env
.env
.env.local
.env.*.local
